
<div class="container">

    <div class="row">

        <div class="col-12 d-flex justify-content-center align-items-center p-3">
          <h1>Reset Password</h1>
        </div>

        
        <div class="col-12">
            <form method="POST" action="/reset-password">
                <div class=" form-group mb-3">

                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" class="form-control" name= "password">

                    <label for="repassword" class="form-label">Rewrite Password</label>
                    <input type="password" id="repassword" class="form-control" name= "repassword">

                    <input type="hidden" name = "token"  value="{{token}}" >

                    <button class="btn btn-success mt-3">Reset</button>
                </div>
            </form>
        </div>
        {{!-- <div class="col-12">
            <a href="/signup">Sign up</a>
            <a href="/restorepassword">Forgot password?</a>
        </div> --}}
    </div>
</div>


<script>
     $.on("load" , function(){
         var password = $("#password").val() ; 
         var repassword = $("#repassword").val() ; 
         var token = $("#token").val(); 

         var data = {
             password , 
             repassword ,
             token 
         } 


         $.ajax({
             url: "/reset-password" , 
             method: "GET" ,
             data , 

         }) ; 
        

    }); 

</script>
