
<div class="container">

    <div class="row">

        <div class="col-12 d-flex justify-content-center align-items-center p-3">
          <h1>Restore Password</h1>
        </div>

        <div class="col-12">
            {{#if messages.FailedRestore}}
                <div class="alert alert-danger"> {{messages.FailedRestore}} </div>
            {{/if}}
        </div>

        <div class="col-12">
            <form method="POST" action="/restorepassword">
                <div class=" form-group mb-3">

                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" name= "email">

                    <button class="btn btn-success mt-3">Reset</button>
                </div>
            </form>
        </div>
        {{!-- <div class="col-12">
            <a href="/signup">Sign up</a>
            <a href="/restorepassword">Forgot password?</a>
        </div> --}}
    </div>
</div>
